<a href="https://colab.research.google.com/github/alvas-education-foundation/Srilatha-K-Kamath-Daily-Report/blob/master/Day2S1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Examples**

Program to find the largest number in a list.

In [0]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
a.sort()
print("Largest element is:",a[n-1])

Enter number of elements:4
Enter element:1
Enter element:5
Enter element:3
Enter element:8
Largest element is: 8

Python Program to put the even and odd elements in a list into two different lists.

In [0]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
even=[]
odd=[]
for j in a:
    if(j%2==0):
        even.append(j)
    else:
        odd.append(j)
print("The even list",even)
print("The odd list",odd)

Enter number of elements:4
Enter element:1
Enter element:2
Enter element:3
Enter element:4
The even list [2, 4]
The odd list [1, 3]

Python Program to merge two lists and sort it.

In [0]:
a=[]
c=[]
n1=int(input("Enter number of elements:"))
for i in range(1,n1+1):
    b=int(input("Enter element:"))
    a.append(b)
n2=int(input("Enter number of elements:"))
for i in range(1,n2+1):
    d=int(input("Enter element:"))
    c.append(d)
new=a+c
new.sort()
print("Sorted list is:",new)

Enter number of elements:2
Enter element:1
Enter element:2
Enter number of elements:2
Enter element:3
Enter element:4
Sorted list is: [1, 2, 3, 4]

Python Program to sort the list according to the second element in the sublist.

In [0]:
a=[['A',34],['B',21],['C',26],['E',29]]
for i in range(0,len(a)):
    for j in range(i+1,len(a)):
        if(a[i][1]>a[j][1]):
            temp=a[j]
            a[j]=a[i]
            a[i]=temp
print(a)

[['B', 21], ['C', 26], ['E', 29], ['A', 34]]

Python Program to find the second largest number in a list using bubble sort.

In [0]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
for i in range(0,len(a)):
    for j in range(0,len(a)-i-1):
        if(a[j]>a[j+1]):
            temp=a[j]
            a[j]=a[j+1]
            a[j+1]=temp 
print('Second largest number is:',a[n-2])

Enter number of elements:4
Enter element:1
Enter element:3
Enter element:2
Enter element:4
Second largest number is: 3

Program to create a list of tuples with the first element as the number and the second element as the square of the number.

In [0]:
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:5
Enter the upper range:10
[(5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

Python Program to generate random numbers from 1 to 20 and append them to the list.

In [0]:
import random
a=[]
n=int(input("Enter number of elements:"))
for j in range(n):
    a.append(random.randint(1,20))
print('Randomised list is: ',a)

Enter number of elements:20
Randomised list is:  [7, 19, 3, 13, 7, 15, 17, 16, 20, 13, 9, 10, 3, 11, 8, 19, 2, 18, 17, 8]

List Exercises:

Print multiples of 3 upto 200 using a list

In [0]:
lst=[i for i in range(0,200,3)]
print(lst)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198]

print the nos only divisible by 5 and 7 between 1000 and 2000 using a list( both inclusive)

In [0]:
lst=[i for i in range(1000,2001) if(i%5==0 and i%7==0)]
print(lst)

[1015, 1050, 1085, 1120, 1155, 1190, 1225, 1260, 1295, 1330, 1365, 1400, 1435, 1470, 1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995]

Add the n number of names in a list and print them alphabetically and reverse alphabetically.

In [0]:
names=[]
n=int(input('Enter n:'))
for i in range(0,n):
  name=input('Enter name:')
  names.append(name)
print('The list is:',names)
alphlist=sorted(names,reverse=False)
print('Names in alphabetical order:',alphlist)
revlist=sorted(names,reverse=True)
print('Names in reverse alphabetical order:',revlist)

Enter n:3
Enter name:Srilatha
Enter name:Rousha
Enter name:Shaifa
The list is: ['Srilatha', 'Rousha', 'Shaifa']
Names in alphabetical order: ['Rousha', 'Shaifa', 'Srilatha']
Names in reverse alphabetical order: ['Srilatha', 'Shaifa', 'Rousha']

Print  perfect squares divisible by 5 between 500 and 1000( (both inclusive) using list

In [0]:
lst=[i*i for i in range(500,1001) if i%5==0]
print(lst)

[250000, 255025, 260100, 265225, 270400, 275625, 280900, 286225, 291600, 297025, 302500, 308025, 313600, 319225, 324900, 330625, 336400, 342225, 348100, 354025, 360000, 366025, 372100, 378225, 384400, 390625, 396900, 403225, 409600, 416025, 422500, 429025, 435600, 442225, 448900, 455625, 462400, 469225, 476100, 483025, 490000, 497025, 504100, 511225, 518400, 525625, 532900, 540225, 547600, 555025, 562500, 570025, 577600, 585225, 592900, 600625, 608400, 616225, 624100, 632025, 640000, 648025, 656100, 664225, 672400, 680625, 688900, 697225, 705600, 714025, 722500, 731025, 739600, 748225, 756900, 765625, 774400, 783225, 792100, 801025, 810000, 819025, 828100, 837225, 846400, 855625, 864900, 874225, 883600, 893025, 902500, 912025, 921600, 931225, 940900, 950625, 960400, 970225, 980100, 990025, 1000000]

**Tuple Examples**

Write python program to have a list of words  to sort them from longest to shortest using list of tuples

In [0]:
txt = 'but soft what light in yonder window breaks'
words = txt.split()
t = list()
for word in words:
   t.append((len(word), word))
t.sort(reverse=True)

res = list()
for length, word in t:
    res.append(word)

print(res)

['yonder', 'window', 'breaks', 'light', 'what', 'soft', 'but', 'in']

Python program that assigns variables

In [0]:
pair = ("dog", "cat")

# Unpack tuple.
(key, value) = pair

# Display unpacked variables.
print(key)
print(value)

dog
cat

Python program that searches tuples

In [0]:
pair = ("dog", "cat")

# Search for a value.
if "cat" in pair:
    print("Cat found")

# Search for a value not present.
if "bird" not in pair:
    print("Bird not found")

Cat found
Bird not found

**Tuple Exercises**

Get  a string and store word by word as elements in a tuple and find the largest word in the  tuple and print it

In [0]:
a=[]
n= int(input("Enter the number of elements in list:"))
for x in range(0,n):
    element=input("Enter element" + str(x+1) + ":")
    a.append(element)
max1=len(a[0])
temp=a[0]
for i in a:
    if(len(i)>max1):
       max1=len(i)
       temp=i
print("The word with the longest length is:")
print(temp)

Enter the number of elements in list:3
Enter element1:Rousha
Enter element2:Shaifa
Enter element3:Srilatha
The word with the longest length is:
Srilatha

get rollno and marks (Rollno, mark) as list of tuples for n number of students through keyboard  and print them in marks descending order with rollno

In [0]:
import operator
n=int(input('Enter n:'))
d={}
for i in range(0,n):
  name=input('Enter student name:')
  marks=input('Enter marks:')
  d[name]=marks
t=list(d.items())
lst=sorted(t,key=operator.itemgetter(1),reverse=True)
print(lst)

Enter n:2
Enter student name:Krishna
Enter marks:24
Enter student name:Radha
Enter marks:21
[('Krishna', '24'), ('Radha', '21')]

Get name and salary (name, salary) as list of tuples for n number of employees through keyboard  and print them in name alphabetical order with salary

In [0]:
import operator
n=int(input('Enter n:'))
d={}
for i in range(0,n):
  name=input('Enter employee name:')
  salary=input('Enter salary:')
  d[name]=salary
t=list(d.items())
lst=sorted(t,key=operator.itemgetter(1),reverse=False)
print(lst)

Enter n:2
Enter employee name:Krishna
Enter salary:25000
Enter employee name:Radha
Enter salary:50000
[('Krishna', '25000'), ('Radha', '50000')]